* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dash-dark: rgb(31, 19, 34);
    --dash-yellow: #FFF000;
    --dash-grey: rgba(211, 211, 211, 0.5);
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100vh;
    color: var(--dash-dark);
}

ul {
    list-style: none;
}

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

nav {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--dash-yellow);
    display: grid;
    grid-template-rows: min-content min-content min-content;
    gap: 40px;
    padding: 20px;
}

.nav-options {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.75;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    column-gap: 0.8rem;
    row-gap: 0.6rem;
    /* grid row: repeat auto with min-content for height */
}

.nav-options > img {
    width: 1.4rem;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--dash-grey);
}